.manage-question-container {
  padding: 20px 30px;

  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .question-content {
    .question {
      .box-upload-file {
        .label-upload {
          font-size: 30px;
          margin-bottom: 5px;
          color: rgb(98, 1, 90);
          cursor: pointer;

          &:hover {
            color: rgb(197, 6, 181);
          }
        }
      }
    }

    .action-icon {
      font-size: 30px;
      cursor: pointer;

      &.plus {
        color: green;
        &:hover {
          color: rgb(4, 197, 4);
        }
      }
      &.minus {
        color: rgb(199, 4, 4);
        &:hover {
          color: red;
        }
      }
    }
  }
}
