.dashboard-container {
  padding: 20px 30px;
  .title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    gap: 20px;
  }

  .content {
    display: flex;

    .c-left {
      width: 50%;
      flex-wrap: wrap;
      align-items: center;
      display: flex;
      gap: 20px;

      .child {
        width: calc(50% - 10px);
        height: 150px;
        border: 1px solid #ccc;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .text-2 {
          font-size: 25px;
        }
      }
    }

    .c-right {
      width: 50%;
      height: 350px;
    }
  }
}
